<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="vendor/autoload.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertWarningsToExceptions="true"
  convertNoticesToExceptions="true"
  stopOnFailure="true">

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/unit</directory>
        </testsuite>

        <testsuite name="Integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="PHPUNIT_RUNNING" value="true" />
        <server name="PATH_INFO" value="/" />
        <server name="REQUEST_METHOD" value="GET" />
    </php>

</phpunit>
